################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Fcg.Users.slnx
/Fcg.Users.slnx
